body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFAF01;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%; /* Ensure header spans full width */
    box-sizing: border-box; /* Include padding in the width calculation */
}

    header h1 {
        margin: 0;
    }

nav ul {
    list-style: none;
    padding: 0;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

    nav ul li {
        display: inline;
        margin: 0 1rem;
        white-space: nowrap; /* Prevent wrapping of text within list items */
    }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

main {
    flex: 1; /* This ensures the main content takes up the remaining space */
    padding: 1rem;
}

.hero {
    background: url('hero.jpg') no-repeat center center/cover;
    color: black;
    text-align: center;
    padding: 2rem 0;
}

    .hero h2 {
        margin: 0;
    }

.content {
    margin-top: 2rem;
}

    .content h3 {
        margin-top: 0;
    }

.game, .project, .product, .team-member {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #00142C;
    color: white;
}

.hero img {
    max-width: 10%;
    height: 10%;
}

 .product img, .team-member img {
    max-width: 100%;
    height: auto;
}

.game img, .project img {
    max-width: 20%;
    height: 20%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column; /* Stack the nav items vertically */
        align-items: center; /* Center align items vertically */
    }

        nav ul li {
            margin: 0.5rem 0; /* Adjust margin for better spacing */
        }

            nav ul li:last-child {
                margin-top: 1rem; /* Increase space before the last item */
            }
}
